{% extends 'shopway/base.html' %}
{% block title%}{{block.super}} -> Orders{% endblock %}
{% block content %}
{% if cart %}
	<div class="container">
		{% if user.is_superuser %}
		<form action="{% url 'update_price' %}" method="POST">{% csrf_token %}<input class="btn btn-light width-all" type="submit" value="Обновить цены на сайте"></form>
		{% endif %}
		{% for item in cart %}
			{% if item.total > 0.00%}
			<div class="{% if item.done %} done {%endif%}">
				{% if item.done %}
					<p class="absolute-text-success">Заказ Выполнен</p>
				{% endif %}
				<div class="c-color {% if item.done %} color-opacity {%endif%}">
					
					<div class="font-italic">-{{ item.updated|date:"j E Y" }}</div>
					<div class="row row-cols-md-3 row-cols-lg-5">
						{% for product in item.products.all %}
						
							  <div class="col mb-4" style="    display: flex;
				justify-content: center;">
								
							    <div class="card" style="width: 10em">
							      <img data-src="{{product.image.url}}" class="lazyload card-img-top" alt="...">
							      <div class="card-body">
							        <h5 style="font-size: initial;
		    font-weight: 200;" class="card-title">{{product.name}}</h5>
							        
							      </div>
							      <p class="card-text" id="price"><mark>{{product.price}}</mark></p>
							      <p><mark id="mark"><cite>- Кол-во товаров:
									{% for d in item.q.all %}
										{% if d.user == item.user and d.product == product%}
											{{d.quantity}}
										{% endif %}
									{% endfor %}</cite></mark></p>
							    </div>
							  </div>
						{% endfor %}
					</div>
					
						<p class="price">{{item.total}}</p>
						{% if user.is_superuser %}
							{% if not item.user.is_superuser %}
								{% for phone in phones %}
									{% if phone.username == item.user.username %}
										<p>Телефон: {{phone.phone}}</p>
										<p>Почта: {{item.user.email}}</p>
									{% endif %}
								{% endfor %}
							{% endif %}
							<div class="btn-group">
								<form action="{% url 'done_cart' item.id %}" method="POST">
									{% csrf_token %}
									<input type="submit" class="btn btn-success" value="Заказ выполнен">
								</form>
								<form action="{% url 'delete_cart' item.id %}" method="POST">
									{% csrf_token %}
									<input type="submit" class="btn btn-danger" value="Удалить">
								</form>
								
						</div>
						{% else %}
							<form action="{% url 'delete_cart' item.id %}" method="POST" id="del-cart">
								<input type="submit" class="btn btn-danger" value="Удалить">
							</form>
						{% endif %}
				</div>
			</div>
			{% endif %}
				
	{% endfor %}
	</div>
			
{% else %}
<div class="container">
		<div class="jumbotron display-4 text-center">Вы не сделали ни одного заказа</div>
	</div>
{% endif %}	
<style>
.width-all{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px!important;
}
.done{
	position: relative;
	border-radius: 5px;
}
.absolute-text-success{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 400;
    font-size: xx-large;
    background: #94df93b5;
    padding: 10px;
    border-radius: 5px;
}
#del-cart{
	display: flex;
    /* top: 35px; */
    margin-top: -32px;
    flex-direction: row-reverse;
}
#mark{
	width: 100%;
	padding: 0;
}
.color-opacity{
	opacity: 0.5;
}
.c-color{
	background: rgba(0,0,0,.15);
	padding: 18px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid;
	margin: 10px 0;
	transition: 0.5s ease-in-out;
}
.c-color:hover{
	box-shadow: inset 0 0 3px 0px black;
}
@media(max-width:  991px){
	img.card-img-top{
		object-fit: contain!important;
	}
}
.done{
	background-color: #94df93b5;
}
</style>
<script>
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}
console.log(numberWithCommas(document.getElementById('price').textContent));
a = document.querySelectorAll('#price');
for (item of a){
    item.textContent = numberWithCommas(item.textContent) + '₽'
    item.setAttribute('style', 'background: #ffffb2;display: flex;padding: 7px;border-radius: 5px;justify-content: center;')
}
a = document.querySelectorAll('.price');
for (item of a){
    item.textContent = numberWithCommas(item.textContent) + '₽'
}
</script>
{% endblock %}