{% extends 'shopway/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white" style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">AXOR</div>
                <a href="{% url 'search' %}?q=AXOR" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white " style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">AZZURRA</div>
                <a href="{% url 'search' %}?q=azzura" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white" style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">Armani</div>
                <a href="{% url 'search' %}?q=armani" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white" style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">Antonio</div>
                <a href="{% url 'search' %}?q=Antonio" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card text-black" style="width: auto; background-color: #ffd700; box-shadow: inset 0px 0px 6px 2px black;">
            <div class="card-body">
                <div class="card-title text-center">Decor Walter</div>
                <a href="{% url 'search' %}?q=decor+walter" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white" style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">Artceram</div>
                <a href="{% url 'search' %}?q=Artceram" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white" style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">BETTE</div>
                <a href="{% url 'search' %}?q=BETTE" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white" style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">Kerasan</div>
                <a href="{% url 'search' %}?q=Kerasan" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4" style="margin-bottom: 20px;">
        <div class="card bg-dark text-white" style="width: auto;">
            <div class="card-body">
                <div class="card-title text-center">Stella</div>
                <a href="{% url 'search' %}?q=Stella" class="btn btn-light d-flex justify-content-center">найти</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}