{% extends 'shopway/base.html' %}
{% block title%}{{block.super}} -> {{q}}{% endblock %}
{% block content %}
{% if products%}
<div class="container-fluid">
  <div id="content" class="row row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
  {% for pr in products %}
    <div class="col" style="display: flex;
    justify-content: center;">
      <div class="card">
        <a href="{% url 'product_detail' pr.slug %}" id="btn">
          <div class="black-background">
              <div class="black-text">Смотреть</div>
              <img data-src="{{pr.image.url}}" style="height: 100%!important;object-fit: contain;"  class="lazyload card-img-top" alt="{{pr.image}}">
          </div>
      </a>
        <div class="card-body">
            <small>{{pr.country}}</small>
          <h5 class="card-title">{{pr.name}}</h5>
        </div>
            <p class="card-text" id="price"><mark>{{pr.price}}</mark></p>
          </form>
          <a href="{% url 'update_cart' pr.slug %}" id='btn-href'><button id="Add" class="btn btn-light">В корзину</button></a>
      </div>
    </div>  
  {% endfor %}
  </div>
</div>
{% else %}
<div class="d-cont">
    <h2 class="sec-header">Мы не можем найти "{{q}}"</h2></div>
{% endif %}

<style>
.black-text{
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%);
    z-index: -3;
}
.card-img-top{
        height: 100%!important;
    }
.black-background{
    background-color: rgb(80, 71, 71);
    z-index: 20;
    border-radius: 3px;
    position: relative;
}

img.card-img-top.ls-is-cached.lazyloaded{
    transition: 1s;
}
img.card-img-top.ls-is-cached.lazyloaded:hover{
    opacity: 0.1;

}
.sec-header{
  font-size: 22px;
    color: red;
    text-align: center;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 400;
}
.sec-header:before{
  margin: 0 0 0 -50%;
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #c13636;
  background-clip: content-box;
  margin-right: 10px;
}
.sec-header:after{
  left: 1em;
  content: "";
  margin: 0 -50% 0 0;
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #c13636;
  background-clip: content-box;
  margin-left: -13px;
}
#btn-href{
    display: flex;
    justify-content: center;
}
#Add{
    width: 100%;
}
#btn{
    display: flex;
    justify-content: center;
}
#btn:hover, #btn-href:hover{
    text-decoration: none;
}
.pagination{
	display: flex;
	text-align: center;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 20px;
}
.step-links{
	background: aliceblue;
    padding: 10px;
    border-radius: 10px;
}
#readMore{
    width: 80%;
}
</style>
<script>
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}
a = document.querySelectorAll('#price');
for (item of a){
    item.textContent = numberWithCommas(item.textContent) + '₽'
    item.setAttribute('style', 'background: #ffffb2;display: flex;padding: 7px;border-radius: 5px;justify-content: center;')
}
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
}
</script>
</script>
{% endblock %}
